{
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-organize-attributes"],
  "organizeAttributes": {
    "maxAttrsOnTag": 3,
    "forceExpandMultiline": true
  },
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",

  "importOrder": ["^[./]"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "plugins": [
          "@trivago/prettier-plugin-sort-imports",
          "prettier-plugin-tailwindcss",
          "prettier-plugin-organize-attributes"
        ]
      }
    }
  ]
}
